<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n>
        Charger un fichier
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p style="display: flex; justify-content: space-around; align-items: center;">
      <mat-form-field>
        <ngx-mat-file-input accept=".csv,.txt" color="accent" [formControl]="fileControl">
          <mat-icon ngxMatFileInputIcon>folder</mat-icon>
        </ngx-mat-file-input>
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="parseFile()" i18n>Charger</button>
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>
        Liste des checkpoints ({{(checkPointList$ | async).length - 1}} points chargés)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngIf="error" i18n>
      Erreur : {{error}}
    </p>

    <table mat-table [dataSource]="(checkPointList$ | async)" *ngIf="!error" style="border-collapse: collapse;
      width: 100%">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef i18n> Date </th>
        <td mat-cell *matCellDef="let checkPoint" width="40%" style="padding-left: 0px">
          <mat-form-field class="responsive-width" cdkTrapFocus cdkTrapFocusAutoCapture="true" color="accent" appearance="legacy">
            <input matInput [matDatepicker]="picker" [ngModel]="checkPoint.date" (ngModelChange)="onDateChange(checkPoint, $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="forme">
        <th mat-header-cell *matHeaderCellDef i18n> Forme </th>
        <td mat-cell *matCellDef="let checkPoint" width="40%">
          <mat-form-field class="responsive-width">
            <input matInput type="number" [ngModel]="checkPoint.forme" (change)="onFormeChange(checkPoint, $event.target)">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="suppr">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let checkPoint">
          <mat-icon color="accent" i18n-aria-label aria-label="Supprimer le checkpoint" *ngIf="checkPoint.forme"
                    (click)="deleteCheckPoint(checkPoint)" style="cursor: pointer">delete</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
