<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Charger un fichier
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      <input type="file" (change)="onFileSelected($event)">
      <button class="btn btn-primary" (click)="parseFile()">Charger</button>
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Liste des courses ({{(courseList$ | async).length - 1}} Courses chargées)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngIf="error">
      Erreur : {{error}}
    </p>
    <mat-table [dataSource]="(courseList$ | async)" *ngIf="!error">
      <ng-container matColumnDef="start">
        <mat-header-cell *matHeaderCellDef> Début </mat-header-cell>
        <mat-cell *matCellDef="let course" [ngClass]="course.id? '': 'newCourse'">
          <mat-form-field cdkTrapFocus cdkTrapFocusAutoCapture="true">
            <input *ngIf="!course.id" cdkFocusInitial matInput type="date" [ngModel]="course.start | date:'yyyy-MM-dd'" (ngModelChange)="onDateChange(course, $event, true)">
            <input *ngIf="course.id" matInput type="date" [ngModel]="course.start | date:'yyyy-MM-dd'" (ngModelChange)="onDateChange(course, $event, true)">
          </mat-form-field>

        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="end">
        <mat-header-cell *matHeaderCellDef> Fin </mat-header-cell>
        <mat-cell *matCellDef="let course" [ngClass]="course.id? '': 'newCourse'">
          <mat-form-field>
            <input matInput type="date" [ngModel]="course.end | date:'yyyy-MM-dd'" (ngModelChange)="onDateChange(course, $event, false)">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-expansion-panel>
</mat-accordion>
