<div style="width: 100%; height: 100%">
<p>
  <mat-toolbar>
    <span>PCM Computer (v{{version}})</span>
    <span class="spacer"></span>
    <button mat-icon-button i18n-aria-label aria-label="Réinitialiser tout" (click)="removeAll()">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="aboveMenu" *ngIf="(windowWidth$ | async) <= 760">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above" class="fav-menu">
      <button mat-menu-item color="secondary" (click)="openCourseCheckpointDialog(false)">
        <mat-icon svgIcon="graph-icon"></mat-icon>
        <span i18n>Checkpoints</span>
      </button>
      <button mat-menu-item color="secondary" (click)="openCourseCheckpointDialog(true)">
        <mat-icon svgIcon="race-icon"></mat-icon>
        <span i18n>Course</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
<div *ngIf="!(loading | async)" appResizeListener style="display: flex;
    flex-direction: row;
flex-wrap: nowrap;">

  <div style="min-width: 20%;
    flex-basis: auto;
    flex-grow: 5;">
    <mat-tab-group animationDuration="0ms" color="accent">
      <mat-tab *ngFor="let objectifItem of (objectifList$ | async)">
        <ng-template mat-tab-label>
          {{objectifItem.objectif | date: 'dd/MM/yyyy'}}
          <button [disableRipple]="true" mat-icon-button color="accent" (click)="removeObjectif(objectifItem)">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </ng-template>
        <div style="padding-top: 20px; padding-left: 20px;">
          <h2 i18n>Début du pic:</h2>
          <h1>{{picDate | date:'dd/MM/yyy'}}</h1>
        </div>
      </mat-tab>
      <mat-tab (click)="openAddObjDialog()" *ngIf="(objectifList$ | async).length < 3">
        <ng-template mat-tab-label>
          <button [disableRipple]="true" mat-icon-button color="accent" (click)="openAddObjDialog()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <div style="margin-right: 50px;">
      <apx-chart
        [series]="formChart.series"
        [chart]="formChart.chart"
        [xaxis]="formChart.xAxis"
        [yaxis]="formChart.yAxis"
        [markers]="formChart.marker"
        [plotOptions]="formChart.plotOption"
        [fill]="formChart.fill"
        [annotations]="formChart.annotations"></apx-chart>
      <apx-chart
        [series]="courseChart.series"
        [chart]="courseChart.chart"
        [xaxis]="courseChart.xAxis"
        [markers]="courseChart.marker"
        [plotOptions]="courseChart.plotOption"
        [fill]="courseChart.fill"></apx-chart>
    </div>
  </div>
  <div *ngIf="(windowWidth$ | async) > 760">
    <mat-tab-group animationDuration="400ms">
      <mat-tab i18n-label label="Liste des courses">
        <app-course></app-course>
      </mat-tab>
      <mat-tab i18n-label label="Liste des checkpoints">
        <app-checkpoint></app-checkpoint>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
<div *ngIf="loading | async" i18n>
  Loading...
</div>
</div>
