<div *ngIf="!(loading | async)" appResizeListener style="display: flex;
    flex-direction: row;
flex-wrap: nowrap;">

  <div style="min-width: 20%;
    flex-basis: auto;
    flex-grow: 5;">
    <mat-tab-group>
      <mat-tab *ngFor="let objectifItem of (objectifList$ | async)" [label]="(objectifItem.objectif | date: 'dd/MM/yyyy')">
          {{objectifItem.startObjectif | date: 'dd/MM/yyyy'}}
      </mat-tab>
    </mat-tab-group>
    <div i18n>
      Début du pic : {{picDate | date:'dd/MM/yyy'}}
    </div>

    <div style="margin-right: 50px;">
      <apx-chart #formChartComponent
        [series]="formChart.series"
        [chart]="formChart.chart"
        [xaxis]="formChart.xAxis"
        [yaxis]="formChart.yAxis"
        [markers]="formChart.marker"
        [plotOptions]="formChart.plotOption"
        [fill]="formChart.fill"
        [annotations]="formChart.annotations"></apx-chart>
      <apx-chart #courseChartComponent
        [series]="courseChart.series"
        [chart]="courseChart.chart"
        [xaxis]="courseChart.xAxis"
        [markers]="courseChart.marker"
        [plotOptions]="courseChart.plotOption"
        [fill]="courseChart.fill"></apx-chart>
    </div>

    <button mat-mini-fab color="primary" [matMenuTriggerFor]="aboveMenu" *ngIf="(windowWidth$ | async) <= 760" style="position: absolute;
    right: 5px;
    top: 5px;">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above" class="fav-menu">
      <button mat-menu-item color="secondary" (click)="openCourseDialog(false)">
        <mat-icon svgIcon="graph-icon"></mat-icon>
        <span i18n>Checkpoints</span>
      </button>
      <button mat-menu-item color="secondary" (click)="openCourseDialog(true)">
        <mat-icon svgIcon="race-icon"></mat-icon>
        <span i18n>Course</span>
      </button>
    </mat-menu>
  </div>
  <div *ngIf="(windowWidth$ | async) > 760">
    <mat-tab-group animationDuration="400ms">
      <mat-tab i18n-label label="Liste des courses">
        <app-course></app-course>
      </mat-tab>
      <mat-tab i18n-label label="Liste des checkpoints">
        <app-checkpoint></app-checkpoint>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
<div *ngIf="loading | async" i18n>
  Loading...
</div>
